/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100vw;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
}
nav {
  border-bottom: 1px solid #acc5a0;
  width: 100vw;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 70px;
  padding-top: 25px;
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
}
nav .navlogo {
  font-size: 2.2rem;
  font-weight: 700;
  color: #c99034;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.07em;
  padding-left: 30px;
}
@media (max-width: 500px) {
  nav .navlogo {
    font-size: 1.4rem;
    padding-left: 10px;
  }
}
nav .nava {
  justify-content: space-between;
  display: flex;
  width: 33.3333vw;
  align-items: space-between;
}
@media (max-width: 1024px) {
  nav .nava {
    width: 43vw;
  }
}
@media (max-width: 500px) {
  nav .nava {
    width: 66vw;
  }
}
nav .nava a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: Styrene A Web, sans-serif;
  color: #333;
  height: 100%;
  letter-spacing: 0.17em;
  padding-top: 5px;
}
@media (max-width: 500px) {
  nav .nava a {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
  }
}
.nava a:hover {
  color: #c99034;
  font-weight: 700;
}
footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-cotent: space-between;
  background: #99b3af;
  padding: 76px 42px 80px;
  text-align: center;
}
footer .footer {
  width: 20vw;
  padding-left: 130px;
}
@media (max-width: 1024px) {
  footer .footer {
    padding-left: 5px;
  }
}
footer .footer a {
  text-decoration: none;
  font-family: Styrene A Web, sans-serif;
  letter-spacing: 0.17em;
  line-height: 2.4rem;
  font-weight: 600;
  color: white;
}
@media (max-width: 1024px) {
  footer .footer a {
    font-size: 0.8rem;
    letter-spacing: 0.11em;
    line-height: 1.4rem;
  }
}
footer .footer a .media {
  border-bottom: 2px solid #f88400;
}
@media (max-width: 1024px) {
  footer .footer a .media {
    border-bottom: none;
  }
}
.footer a:hover {
  color: #cb8b41;
}
.cotains {
  width: 100vw;
}
header {
  display: flex;
  height: 85vh;
  width: 100vw;
  background-image: url(https://i.ibb.co/7KChYnP/kids.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 40%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  color: #333;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 500px) {
  header {
    justify-content: flex-start;
    padding-left: 10px;
  }
}
header .bigtxt {
  width: 52vw;
  font-size: 4rem;
  font-weight: 700;
  line-height: 40px;
  padding-top: 50px;
}
@media (max-width: 500px) {
  header .bigtxt {
    font-size: 2.4rem;
    line-height: 25px;
    width: 40vw;
  }
}
header .smalltxt {
  padding-bottom: 200px;
  width: 52vw;
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 500px) {
  header .smalltxt {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    width: 40vw;
    padding-bottom: 150px;
  }
}
.teams {
  width: 100vw;
}
.teams .team {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 150px;
}
@media (max-width: 780px) {
  .teams .team {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .teams .team {
    height: 75%;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-top: 30px;
  }
}
.teams .ui,
.teams .be {
  border-top: 1px solid #eaecf3;
  border-bottom: 1px solid #eaecf3;
  background-color: #f6f7fb;
  display: flex;
  justify-content: space-around;
}
.teams .pic {
  align-items: flex-start;
  flex-direction: column;
  width: 30vw;
  height: 45vh;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .teams .pic {
    margin-right: 3px;
  }
}
.teams .img {
  width: 30%;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100%;
  border: 3px solid #cb8b41;
}
@media (max-width: 500px) {
  .teams .img {
    width: 40%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.teams .txt {
  margin-left: 10px;
  text-align: center;
  width: 250px;
  line-height: 20px;
}
@media (max-width: 780px) {
  .teams .txt {
    width: 210px;
    line-height: 17px;
  }
}
@media (max-width: 500px) {
  .teams .txt {
    width: 30vh;
    width: 110px;
    line-height: 17px;
  }
}
.teams .txt h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
.teams .txt h3 {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  .teams .txt h3 {
    display: none;
  }
}
.teams .lead {
  display: flex;
  justify-content: space-around;
}
.icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  text-align: center;
  margin: 5px;
}
@media (max-width: 500px) {
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 92vw;
  margin-bottom: 110px;
}
@media (max-width: 1024px) {
  .buttons {
    margin-right: 40px;
  }
}
.buttons .btn {
  text-decoration: none;
  background: #99b3af;
  color: #333;
  border-radius: 5px;
  font-size: 0.9rem;
  width: 200px;
  height: 60px;
  margin: 0px 20px 0px 20px;
  font-weight: 80;
  font-family: Styrene A Web, sans-serif;
  letter-spacing: 0.17rem;
  border: 0;
}
@media (max-width: 1024px) {
  .buttons .btn {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  .buttons .btn {
    width: 70px;
    height: 35px;
    margin: none;
  }
}
.buttons .btn:hover {
  background: #cb8b41;
  color: white;
}
html {
  scroll-behavior: smooth;
}
