// Home Content



header {
    display: flex;
    height: 85vh;
    width: 100vw;
    background-image: url(https://i.ibb.co/7KChYnP/kids.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 40%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    color: #333;
    text-align: center;
    margin: 0 auto;

  .bigtxt{
    width: 52%;
    font-size: 4rem;
    font-weight: 700;
    line-height: 40px;
    padding-top: 50px;
    
  }
    .smalltxt {
      padding-bottom: 200px;
      width: 52%;
      margin-top:8px;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 20px;
      
    }

  }
  


  .teams{
width: 100vw; 

.team{
  height: 90vh; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 150px;

  @media @tablet {
    height: 100vh;
  }
 }

.ui, .be {
  border-top: 1px solid #eaecf3;
  border-bottom: 1px solid #eaecf3;
  background-color: #f6f7fb;
  display: flex;
  justify-content: space-around;
}

.pic{
display: flex;
align-items: flex-start;
flex-direction: column;
width: 30vw; 
height: 45vh;
margin-right: 30px;
display: flex;
align-items: center;

}

 .img{
   width: 30%;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 100%;
   border: 3px solid #cb8b41;
 }

 .txt{
   margin-left: 10px;
   text-align: center;
   width: 250px;
   line-height: 20px;

   @media @tablet {
    width: 210px;
    line-height: 17px;
    border: 2px solid red;
  }
  


   
   h1 {
     font-size: 1.8rem;
     font-weight: 600;
   }

   h3 {
     font-size: 1.2rem;
   }
 }

 .lead {
  display: flex;
  justify-content: space-around;
 }

}



  
.icon {
  display: inline-block;
  width: 2.5rem;
  height:2.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  text-align: center;
  margin: 5px;
}





.buttons{
  display: flex;
  justify-content: space-around;
  width: 92vw; 
  height: 0px;
  margin-bottom: 110px;

  @media @minidesktop{
 margin-bottom: 140px;
  }
 


.btn {
// .buttonmix (#99b3af, #333, 5px, 0.9rem, 200px, 50px, 0px 20px 30px 20px, 750);
text-decoration: none;
background: #99b3af;
color: #333;
border-radius: 5px; 
font-size: 0.9rem;
width: 200px;
height: 60px;
margin: 0px 20px 0px 20px;
font-weight: 80;
font-family: Styrene A Web,sans-serif;
letter-spacing: .17rem;
border: 0;

@media @minidesktop{
  width: 150px;
  height:40px;
  border: 3px solid green;
}
}

.btn:hover{
  background: #cb8b41;
  color: white;
}


}

// .btts{
// display: flex;
// flex-direction: column;
// justify-content: space-around;
// margin: 0 auto;
// width: 15vw; 
// height: 70vh;

// .tm{
// // .buttonmix (#99b3af, #333, 5px, 0.9rem, 200px, 50px, 0px 20px 30px 20px, 750);
// text-decoration: none;
// background: #99b3af;
// color: #333;
// border-radius: 5px; 
// font-size: 0.9rem;
// width: 200px;
// height: 60px;
// margin: 0px 20px 0px 20px;
// font-weight: 80;
// font-family: Styrene A Web,sans-serif;
// letter-spacing: .17rem;
// border: 0;
// }

// .tm:hover{
// background: #cb8b41;
// color: white;
// }

// .special {
//   display: none;
// }
// }



  
html{
  scroll-behavior: smooth;
}



