// Footer Styles
footer {
    
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-cotent: space-between;
    background: #99b3af;
    padding: 76px 42px 80px;
    text-align: center;


    .footer{
        width: 20vw;
        padding-left: 130px;
       


        a{ 
            text-decoration: none;
            font-family: Styrene A Web,sans-serif;
            letter-spacing: .17em;
            line-height: 2.4rem;
            font-weight: 600;
            color: white;

        
            .media{ 
                border-bottom: 2px solid #f88400;
                
            }
        }
        
    }
}

.footer a:hover{
    color: #cb8b41;
}
