// Navigation code here

nav {
// display: flex;
// justify-content: space-between;
border-bottom: 1px solid rgb(172, 197, 160);
width: 100%;
height: 70px;
position: sticky;
top: 0;
background: white;
display: flex;
justify-content: space-between;
align-items: center;

@media @tablet {
    flex-direction: column;
    justify-content: center;
}

@media @phone {
flex-direction: column;
justify-content: center;

}



.navlogo{
font-size: 2.7rem;
font-weight: 700;
color: #c99034;
font-family: 'Lobster', cursive;
letter-spacing: .07em;
padding-left: 30px;
width: 35%;
text-align: center;


@media @minidesktop {
    width: 40%;
}

@media @tablet {
    width: 40%;
    padding-top: 5px;
    margin-bottom: 7px;
    width: 100%;
   
}

@media @phone {
font-size: 2rem;
padding-left:0px;
margin-bottom: 7px;
width: 100%;
font-weight: 800;
}


}
.nava{
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 40%;
    margin-right: 40px;
    
    

    @media @tablet {
        width: 90%;
        justify-content: space-around;
        margin-bottom: 5px;
        }
    

@media @phone {
    width: 100%;
    justify-content: space-around;
    margin-right: 0px;
    margin-bottom: 5px;
}

    
}
.nava a{
text-decoration: none;
font-size: 1rem;
font-weight: 600;
font-family: Styrene A Web,sans-serif;
color: #333;
height: 100%;
letter-spacing: .17em;
padding-top: 5px;


@media @minidesktop {
    font-size: 1.2rem;
    letter-spacing: 0.11rem;
    font-weight: 700;
    }


@media @tablet {
    font-size: 1.2rem;
    letter-spacing: 0.07rem;
    font-weight: 700;
    }

    
@media @phone {
font-size: 0.95rem;
letter-spacing: 0.07rem;
font-weight: 700;
}



}
}

.nava a:hover{
color: #c99034;
font-weight: 700;
}

// .nava a.active{
// color:  olivedrab;
// }





// footer {
//     background: #d0aa84e3;
// }