footer {
  background: white;
  border-top: 2px solid $primary;
  color: $primary;
  margin: 0 auto 50px auto;
  height: 150px;
  @include flex(flex, center, center);
  flex-direction: column;
  @media (max-width: $mobile) {
    height: 200px;
    margin-top: 230px;
    margin-bottom: 45px;
    flex-direction: column;
    h2 {
      text-align: center;
    }
    .ftrlnks {
      flex-direction: column;
      text-align: center;
    }
}
  h2 {
    @include logo($primary);
    width: 100%;
    text-align: center;
  }
  .ftrlnks {
    @include flex(flex, center, space-between);
    width: 80%;
    margin: auto;
  }
  a {
    @include links($primary);
    text-decoration: none;
    
    &:hover {
      color: $secondary;
    }
  }
}