nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  background: white;
  width: 100vw;
  position: fixed;
  border-bottom: 1px solid #acc5a0;
  @media (max-width: $tablet) {
    flex-direction: column;
    padding: 0;
    margin-top: -20px;
  }
  p {
    font-size: 2.5rem;
    width: 50vw;
    padding-left: 40px;
    font-family: $logoFont;
    color: $primary;
    font-weight: 700;
    letter-spacing: .07em;
    @media (max-width: $tablet) {
    font-size: 2.2rem;
    background: white;
    text-align: center;
    }
  }

  ul {
    width: 33.3333vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    @media (max-width: $tablet) {
    font-size: 1rem;
    width: 80vw;
    background: white;
    font-family: Styrene A Web, sans-serif;
    }
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: olivedrab;
    font-weight: bold;
    padding: 2px;
    font-weight: 600;
    letter-spacing: 0.17em;
    &:hover {
      color: $primary;
    }
  }
}