section {
  height: 1000px;
  width: 100%;
  font-size: 2rem;
  font-family: $primaryFont;

  .box {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px;
    
  }
  .box1 {
    flex-direction: row-reverse;
    background: $secondary;
    @media (max-width: $mobile) {
      height: 400px;
      flex-direction: column;
      h2 {
        text-align: center;
      }
  }
  }
  .box2 {
    background: white;
    @media (max-width: $mobile) {
      height: 400px;
      flex-direction: column;
      h2 {
        text-align: center;
      }
  }
  }
  .box3 {
    flex-direction: row-reverse;
    background: $secondary;
    @media (max-width: $mobile) {
      height: 400px;
      flex-direction: column;
      h2 {
        text-align: center;
      }
  }
  }
  .txt {
    width: 50%;
    @media (max-width: $mobile) {
      width: 95%;
      font-size: 1.8rem;
    }
  }
  img {
    height: 95%;
    border-radius: 10px;
    box-shadow: 6px 6px 4px grey;
    @media (max-width: $mobile) {
     height: 45%; 
    }
  }
}