// Styling
$primary: #cb8b41;
$secondary: #99b3af;
$detail: #F0F6F7;
$logoFont: 'Lobster', cursive;
$primaryFont:'Ubuntu', sans-serif;

// Media Queries
$mobile: 500px;
$tablet: 800px;
$desktop: 1000px;